body {
  text-align: center;
  margin: auto;
  width: 80%;
}

div div {
 
  float: left;
  width: 300px;
  border: violet solid;
  margin: 20px;
  height: 420px;
  padding: 20px;
  
}

div.intro {
 
  margin:auto;
  padding-left: 30px;

}

div p {
  color: blue;
}

div h2 {
  color: red;
}