body {
  text-align: center;
  margin: auto;
  width: 80%;
}

div div {
 
  float: left;
  width: 300px;
  border: violet solid;
  margin: 20px;
  height: 420px;
  padding: 20px;
  
}

div.intro {
  width: 1060px;
  margin:20px;
  padding: 20px;
  float: left;

}

div p {
  color: blue;
}

div h2 {
  color: red;
}

@media screen and  (max-width:1459px){
  div.intro {
    width: 688px;
    margin: 20px;
    padding: 20px;
    float: left;
  }
} 

@media screen and (max-width:978px)
{
  div.intro {
    width: 315px;
    margin: 20px;
    padding: 20px;
    float: left;
  }
}